@import 'styling';

.footer {
  width: 100%;
  color: $white;
  background-color: $black;
  box-shadow: 0px -5px 10px $light-gray;

  a {
    color: $light-gray;
    &:hover {
      color: $gray;
    }
  }
  
  ul {
    list-style: none;
    color: $light-gray;

    h5 {
      color: $orange;
      margin-bottom: .5em;
    }
  }

  p {
    color: $gray;
  }

  .brand {
    width: 180px;
    height: 70px;
  }
}