@import '../../../styles/colors.scss';

.footer {
  width: 100%;
  height: 130px;
  color: $white;
  background-color: #3B3B3B;
  text-align: center;
  p {
    font-size: 1.1em;
    margin: 0;
    span {
      font-weight: 600;
    }
  }
}