<footer class="footer py-5">
  <div class="d-flex flex-wrap justify-content-around">
    <img
      class="brand"
      src="./assets/images/brand.png"
      alt="Guilherme Carvalho"
    />

    <nav>
      <ul class="menu_items">
        <li>
          <h5>Menu</h5>
        </li>
        <li>
          <a href="#description">Quem sou?</a>
        </li>

        <li>
          <a href="#skills">Habilidades</a>
        </li>

        <li>
          <a href="#projects">Projetos</a>
        </li>

        <li>
          <a href="#contacts">Contatos</a>
        </li>
      </ul>
    </nav>

    <ul>
      <li>
        <h5>Redes sociais</h5>
      </li>

      <li>
        <a
          href="https://www.linkedin.com/in/guilherme-dias-carvalho/"
          target="_blank"
        >
          Linkedin
        </a>
      </li>

      <li>
        <a
          href="https://www.instagram.com/guilherme_dcarvalho0/"
          target="_blank"
        >
          Instagram
        </a>
      </li>

      <li>
        <a
          href="https://wa.me/5511993777427?text=Dev%20Fullstack%20-%20Entre%20em%20contato%20para%20mais%20in"
          target="_blank"
        >
          WhatsApp
        </a>
      </li>
    </ul>

    <ul>
      <li class="d-flex align-items-center mb-2">
        <div class="icon me-2">
          <i class="fa-solid fa-phone fa-rotate-270"></i>
        </div>
        (11) 99377-7427
      </li>

      <li class="d-flex align-items-center">
        <div class="icon me-2">
          <i class="fa-solid fa-envelope"></i>
        </div>
        <a href="mailto:guilhermediascarvalhooo@gmail.com"
          >guilhermediascarvalhooo@gmail.com</a
        >
      </li>
    </ul>
  </div>

  <div class="text-center mt-4">
    <p>
      <small><span>Portfólio Guilherme Carvalho </span> &copy; 2023</small>
    </p>
    <p>Santo André - SP - Brazil</p>

    <p class="mt-4">
      Icons from "Diferentials" and "Soft Skills" made by
      <a href="https://www.flaticon.com/authors/freepik" title="Freepik">
        Freepik
      </a>
      and
      <a href="https://www.flaticon.com/authors/justicon" title="justicon">
        justicon
      </a>
      from
      <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    </p>
  </div>

</footer>
