<header>
  <app-mobile-menu *ngIf="mobileWindow"></app-mobile-menu>
  <div class="header">
    <div class="container-lg d-flex justify-content-between pt-3">
      <div class="d-flex">
        <div class="icon link me-2">
          <a href="https://github.com/guiCarvalhoSP" target="_blank">
            <i class="fa-brands fa-github"></i>
          </a>
        </div>

        <div class="icon link">
          <a
            href="https://www.linkedin.com/in/guilherme-dias-carvalho/"
            target="_blank"
          >
            <i class="fa-brands fa-linkedin"></i>
          </a>
        </div>
      </div>

      <div class="d-flex align-items-center">
        <div class="icon me-2">
          <i class="fa-solid fa-phone fa-rotate-270"></i>
        </div>

        <p class="cell_number">(11) 99377-7427</p>
      </div>
    </div>

    <nav class="pt-5">
      <ul
        class="menu_items w-100 d-flex justify-content-around align-items-center"
      >
        <li *ngIf="!mobileWindow">
          <a href="#description">Quem sou?</a>
        </li>

        <li *ngIf="!mobileWindow">
          <a href="#skills">Habilidades</a>
        </li>

        <li>
          <img
            class="brand"
            src="./assets/images/brand.png"
            alt="Guilherme Carvalho"
          />
        </li>

        <li *ngIf="!mobileWindow">
          <a href="#projects">Projetos</a>
        </li>

        <li *ngIf="!mobileWindow">
          <a href="#contacts">Contatos</a>
        </li>
      </ul>
    </nav>

    <div
      id="description"
      class="container-lg d-flex justify-content-center justify-content-md-between align-items-start flex-wrap"
      name="description"
    >
      <div class="title">
        <h3>Desenvolvedor</h3>
        <h1>Fullstack</h1>
      </div>

      <div class="about">
        <p>
          Experiência de 2 anos em desenvolvimento Full Stack, sou um
          profissional empenhado, busco sempre aperfeiçoar meus conhecimentos, e
          me manter atualizado com as novas tecnologias do momento. Sou uma
          pessoa determinada, flexível e confiante; também gosto de interagir
          com as pessoas e realizar trocas de conhecimentos.
        </p>
      </div>
    </div>

    <app-photo></app-photo>
  </div>
</header>
