.perfil_photo{
  position: absolute;
  top: 590px;
  left: 50%;
  .border_photo {
    width: 350px;
    height: 350px;
    filter: invert(1);
    position: absolute;
  }

  .photo {
    width: 270px;
    height: 270px;
    border-radius: 50%;
    position: absolute;
  }
}

@media (max-width: 880px) {
  .perfil_photo{
    top: 640px;
    .border_photo {
      width: 330px;
      height: 330px;
      filter: none;
    }
  
    .photo {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      position: absolute;
    }
  }
}


