.perfil_photo{
  position: absolute;
  top: 590px;
  left: 50%;
  .border_photo {
    width: 350px;
    height: 350px;
    filter: invert(1);
    position: absolute;
  }

  .photo {
    width: 270px;
    height: 270px;
    border-radius: 50%;
    position: absolute;
  }
}