@import "styling";

.projects {
  width: 100%;
  background-color: $black;

  h2 {
    color: $orange;
  }

  .advice p {
    text-align: center;
    color: $gray;
    font-size: 28px;
  }

  .container {
    border: solid 2px $dark-cyan;
    border-radius: 10px;
    box-shadow: 0px 0px 10px $dark-cyan;
    // height: 80%;
  }

  .project {

    .image {
      width: 350px;
    }

    &-card {
      box-shadow: 0px 0px 10px $gray;
      border-radius: 5px;
      color: $white;
      width: 350px;
      text-align: justify;
      transition: .2s;
  
      &:hover {
        box-shadow: 0px 0px 10px $light-gray;
      }
  
      .features p{
        color: $light-gray;
        font-size: 15px;
      }
  
      .about p{
        font-size: 14px;
      }
  
      .actions a {
        color: $white;
        font-weight: 700;
        text-decoration: underline;
        padding: .2em .5em;
        border-radius: 5px;
        transition: .2s;
        &:hover {
          background-color: $dark-cyan;
        }
      }
    }
  }
}
