@import "styling";

.projects {
  width: 100%;
  background-color: $black;

  h2 {
    color: $orange;
  }

  .advice p {
    text-align: center;
    color: $gray;
    font-size: 28px;
  }

  .container {
    border: solid 2px $dark-cyan;
    border-radius: 10px;
    box-shadow: 0px 0px 10px $dark-cyan;
    height: 80%;

    .cards_projects {
      border-radius: 10px;
      height: 450px;
      width: 100vw;
      max-width: 280px;
      background-color: $gray;
      transition: 0.1s ease-in;
      p {
        color: $light-gray;
        span {
          color: $white;
          font-weight: 700;
        }
      }

      .cards_projects:hover {
        transform: scale(1.1);
      }
    }
  }
}
