<div class="projects py-5 margin-elements" id="projects">
  <div class="container py-3">
    <h2 class="mb-3 text-center">Projetos</h2>

    <div class="advice">
      <p>Estamos em obras, logo mais estará disponível esta sessão!</p>
      <p >🚧 👷🚜 🚧</p>
    </div>
    <div class="d-flex flex-wrap justify-content-around mb-3">

      <!-- The code below is for example only. It will be changed in the future. -->
      <div class="project d-flex align-items-center flex-column m-3">
        <img class="image" src="./assets/images/breve.png" alt="Em breve">

        <div class="mb-3 mt-4 d-flex text">
          <div class="titles project_name me-3"></div>
          <div class="content name"></div>
        </div>


        <div class="mb-3 d-flex text">
          <div class="titles project_tools me-3"></div>
          <div class="content tools"></div>
        </div>

        <div class="mb-2 text">
          <div class="titles project_description mb-1"></div>
          <div class="content description"></div>
        </div>

        <div class="d-flex justify-content-between actions">
          <div class="button"></div>
          <div class="button"></div>
        </div>

      </div>

    </div>
  </div>
</div>