<div class="projects py-5 margin-elements" id="projects">
  <div class="container py-3">
    <h2 class="mb-3 text-center">Projetos</h2>

    <div class="advice">
      <p>Estamos em obras, logo mais estará disponível esta sessão!</p>
      <p >🚧 👷🚜 🚧</p>
    </div>
    <div class="d-flex flex-wrap justify-content-aroud mb-3">
      <!-- The code below is for example only. It will be changed in the future. -->
      <div *ngFor="let project of projects" class="project m-3 ">

        <img class="image" src="./assets/images/portfolio-demostrative.png" alt="Em breve">

        <div class="project-card p-3">
          <div class="title">
            <h5>{{ project.title }}</h5>
          </div>
  
          <div class="features mb-2">
            <p>{{ project.features | features }} </p>
          </div>
  
          <div class="about mb-2">
            <h6>Sobre:</h6>
            <p>{{ project.about }}</p>
          </div>
  
          <div class="actions d-flex justify-content-between">
            <a [href]="project.github_link" target="_blank">Código fonte</a>
            <a *ngIf="project.deployment_link" [href]="project.deployment_link" target="_blank">Ver deploy</a>
  
          </div>
        </div>

      </div>

    </div>
  </div>
</div>