@import 'styling';


.contacts {
  h3, h4 {
    color: $black;
  }

  p, a {
    font-size: 20px;
    color: $gray;
    text-decoration: none;
  }

  h4 {
    span, a{
      color: $gray;
      font-size: 20px;
    }
  }
}

@media (max-width: 768px) {
  .contacts {

    p, a {
      font-size: 18px;
      color: $gray;
      text-decoration: none;
    }
  }
}