@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Poppins:wght@200;300;400;500;700&family=Ubuntu:wght@400;700&display=swap');
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

@import 'styling';
@import 'definitions';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
}

a {
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $gray;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $dark-cyan;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $cyan;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $white;
  transition: 0.3s;
  i {
    color: $black;
    font-size: 1.4em;
    line-height: 1.4em;
    margin: 0;
    padding: 0;
  }

  &.link:hover {
    background-color: $gray;
    i {    
      color: $white;
    }
  }
}